html, body {
  background: #f4f4f4;
  min-width: 320px;
  margin: 0px auto;
  font-family: "PT Sans", "Lucida Grande", sans-serif;
}

a {
  color: #0af;
  text-decoration: none;
  transition: all .1s ease-in;
}

a:hover {
  color: #4ef;
  text-shadow: 0px 0px 2px rgba(68, 238, 255, .6), 0px 0px 5px rgba(68, 238, 255, .4);
}

header {
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
}

.hint {
  display: block;
  position: absolute;
  z-index: 45;
  top: 20px;
  left: 0;
  right: 195px;
  width: 85px;
  height: 50px;
  margin: auto;
}

.switch {
  position: absolute;
  z-index: 50;
  top: 47px;
  left: 0;
  right: 140px;
  margin: auto;
  width: 42px;
  height: 28px;
  background: url('il.svg') 0 0 no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), 0px 2px 5px rgba(0, 0, 0, .2);
  transition: all .1s ease-in;
}

.switch.en {
  background-image: url('us.svg');
}

.switch:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .2), 0px 2px 5px rgba(0, 0, 0, .3);
}

.invisible {
  display: none;
}

section {
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  text-align: center;
}

form,
form * {
  transition: all .1s ease-in;
}

form {
  margin: 7px auto;
  font-family: "PT Sans", "Lucida Grande", sans-serif;
}

form input[type="search"],
form input[type="text"] {
  font-size: 16px;
  line-height: 20px;
  padding: 5px 10px;
  background: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .4), inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(0, 0, 0, .2);
}

form input[type="search"]:focus,
form input[type="text"]:focus {
  box-shadow: 0 0 2px 3px #4bf, inset 0 1px 0px rgba(0, 0, 0, .1), inset 0 0 2px rgba(0, 0, 0, .1), inset 0 1px 2px rgba(0, 0, 0, .1);
}

form input[type="submit"] {
  font-size: 16px;
  line-height: 18px;
  width: auto;
  height: auto;
  line-height: 100%;
  margin: 0px;
  padding: 5px 12px;
  cursor: pointer;
  color: #024;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
  background: #3af;
  border: 1px solid #08e;
  border-radius: 4px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4), 0px 1px 0px rgba(255, 255, 255, .4);
}

form input[type="submit"]:hover {
  background: #4bf;
}

form input[type="submit"]:active {
  color: #012;
  background: #006fdf;
  border-color: #06a;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .2), 0px 1px 0px rgba(255, 255, 255, .4);
}

form input[type="search"] {
  width: 120px;
}

form .start,
form .end {
  width: 60px;
}

.words {
  margin: 0 auto;
}

.word {
  width: auto;
  margin-top: 10px;
  padding: 10px 15px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .1), 0px 2px 5px rgba(0, 0, 0, .1);
}

.word > * {
  display: block;
  margin: 0 auto;
  line-height: 120%;
}

.word h2 {
  font-size: 25px;
}

.word h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #aaa;
}

.word p {
  font-size: 20px;
}

.rtl {
  direction: rtl;
}

.range {
  width: 60px;
}

footer {
  margin: 15px auto;
  text-align: center;
}

footer a {
  font-size: 16px;
  line-height: 100%;
  color: #aaa;
}

footer a:hover {
  color: #888;
  text-shadow: none;
}
