html, body {
  background: #f4f4f4;
  min-width: 400px;
  margin: 0px auto;
  font-family: "PT Sans", "Lucida Grande", sans-serif;
}

a {
  color: #0af;
  text-decoration: none;
  transition: all .1s ease-in;
}

a:hover {
  color: #4ef;
  text-shadow: 0px 0px 2px rgba(68, 238, 255, .6), 0px 0px 5px rgba(68, 238, 255, .4);
}

header {
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
}

.switch {
  position: absolute;
  top: 47px;
  left: 0;
  right: 140px;
  margin: auto;
  width: 42px;
  height: 28px;
  background: url('il.svg') 0 0 no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), 0px 2px 5px rgba(0, 0, 0, .2);
  transition: all .1s ease-in;
}

.switch.en {
  background-image: url('us.svg');
}

.switch:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .2), 0px 2px 5px rgba(0, 0, 0, .3);
}

.invisible {
  display: none;
}

section {
  margin: 0 auto;
  width: 80%;
  min-width: 350px;
  max-width: 900px;
  text-align: center;
}

.start,
.end {
  width: 60px;
}

.words {
  margin: 0 auto;
}

.word {
  width: auto;
  margin-top: 10px;
  padding: 10px 15px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .1), 0px 2px 5px rgba(0, 0, 0, .1);
}

.word > * {
  display: block;
  margin: 0 auto;
  line-height: 120%;
}

.word h2 {
  font-size: 25px;
}

.word h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #aaa;
}

.word p {
  font-size: 20px;
}

.rtl {
  direction: rtl;
}

.range {
  width: 60px;
}

footer {
  margin: 15px auto;
  text-align: center;
}

footer a {
  font-size: 16px;
  line-height: 100%;
  color: #aaa;
}

footer a:hover {
  color: #888;
  text-shadow: none;
}
